---
import FeedItem from "./FeedItem.astro";
import { XMLParser } from "fast-xml-parser";
import type { RssItem } from "./types";

const response = await fetch(
  "https://plankton-app-nanep.ondigitalocean.app/feed/"
);
const data = await response.text();
const jObj = new XMLParser().parse(data);
const items = jObj.rss.channel.item;

let slicedItems = items.slice(-4);
---

<div class="basis-8/12">
  {
    slicedItems.map((item: RssItem) => {
      return <FeedItem item={item} />;
    })
  }
</div>
