---
import H1Text from "../components/H1Text.astro";
import H2Text from "../components/H2Text.astro";
import SiteWidth from "../components/SiteWidth.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CSE@CSUSB - About">
  <SiteWidth>
    <div class="">
      <H1Text light>About us</H1Text>
    </div>
  </SiteWidth>

  <div class="bg-slate-200">
    <SiteWidth><div class="py-12">
        <H2Text>What is the CSE Club @ CSUSB?</H2Text>
        <p class="text-slate-700 pb-6">
          The Computer Science and Engineering Club aims to bring together
          CSE students at CSU San Bernardino to provide an enhanced sense of 
          belonging and community at our university. The CSE Club promotes 
          connections and socialization between hundreds of CSE
          students at CSUSB every year, as well as students interested in
          the art of Computer Science and Engineering. We also host and participate
          in workshops, talks and other special events held to encourage and foster
          academic and career interests. </p>
        <H2Text>Tutoring program</H2Text>
        <p class="text-slate-700 pb-3">
          We plan to offer free in-person and remote tutoring 
          for current Computer Science and Engineering Students at CSUSB.
          Our student tutors are trained to help, with many of them being 
          masters students. 
        </p>
        <p class ="text-red-700 pb-0">NOTE: This service has not been finalized and is planned to start by Spring 2024.</p><br>
        <H2Text>Events we offer</H2Text>
        <p class="text-slate-700 pb-6">
          We offer workshops, tours, and speakers from various organizations and
          agencies throughout the industry. We also host events where a member of
          the club will explain a Computer Science and Engineering topic they are
          passionate about. We also host Game Nights, Hackathons, and collaborate
          with other clubs on campus.
        </p>
        <H2Text>Our resources</H2Text>
        <p class="text-slate-700 pb-6">
          Our research lab in JB 361 has equipment for various factors of
          software development, research, and more. 3D printers, 3D Scanners, High 
          Computational Computers, CNC Machines, Xbox Developer Kits, Valve Index 
          Headsets, and other tools are available for CSE students at CSUSB. The 
          lab is open for any student at CSUSB to use.
        </p>
        <H2Text>How can I get involved?</H2Text>
        <p class="text-slate-700 pb-6">
          Get in contact with us by joining our server! You can also formally join the
          club by visiting CoyoteConnection thru the MyCoyote portal and sending a join
          request there!
        </p>
      </div>
    </SiteWidth>
  </div>
</Layout>
