---
import H1Text from "../components/H1Text.astro";
import H2Text from "../components/H2Text.astro";
import SiteWidth from "../components/SiteWidth.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CSE Club - About">
  <SiteWidth>
    <div class="">
      <H1Text light>About us</H1Text>
    </div>
  </SiteWidth>

  <div class="bg-slate-200">
    <SiteWidth><div class="py-12">
        <H2Text>What is the CSE Club @ CSUSB?</H2Text>
        <p class="text-slate-700 pb-6">
          The Computer Science and Engineering Club aims to bring together
          CSE students at CSU San Bernardino to provide an enhanced sense of 
          belonging and community at our university. The CSE Club promotes 
          connections and socialization between hundreds of CSE
          students at CSUSB every year, as well as students interested in
          the art of Computer Science and Engineering. We also host and participate
          in workshops, talks and other special events held to encourage and foster
          academic and career interests. </p>
        <H2Text>Tutoring program</H2Text>
        <p class="text-slate-700 pb-3">
          We plan to offer free in-person and remote tutoring 
          for current Computer Science and Engineering Students at CSUSB.
          Our student tutors are trained to help, with many of them being 
          masters students. 
        </p>
        <p class ="text-red-700 pb-0">NOTE: This service has not been finalized 
        and is expected to start by the end of the Fall 2023 semester.</p><br>
        <H2Text>Events we offer</H2Text>
        <p class="text-slate-700 pb-6">
          We offer workshops, tours, and speakers from various organizations and
          agencies throughout the industry. We also host events where a member of
          the club will explain a Computer Science and Engineering topic they are
          passionate about. We also host Game Nights, Hackathons, and collaborate
          with other clubs on campus.
        </p>
        <H2Text>Our resources</H2Text>
        <p class="text-slate-700 pb-6">
          The lab in JB 361 has resources and equipment for students to use for
          their various CSE projects. This includes 3D Printers and Scanners, workstations
          equipped with high end GPUs, CNC Machines, game development kits, and VR Headsets.
          More tools not mentioned here might also be available, feel free to ask if we
          have access to something specific! The lab is open for all students at CSUSB to use.
        </p>
        <H2Text>How can I get involved?</H2Text>
        <p class="text-slate-700 pb-6">
          Join our Discord Server! We look forward to working with you in your academic and career
          aspriations! 
        </p>
        <H2Text>Contact</H2Text>
        <p class="text-slate-700">
          If you need to get in touch with us, join our Discord server, or send an email to cse.csusb.coyote@csusb.edu.
          We look forward to hearing from you!
        </p>
      </div>
    </SiteWidth>
  </div>
</Layout>
