---
import H1Text from "../components/H1Text.astro";
import H2Text from "../components/H2Text.astro";
import SiteWidth from "../components/SiteWidth.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CSE -About">
  <SiteWidth>
    <div class="my-12">
      <H1Text light>About us</H1Text>
    </div>
  </SiteWidth>

  <div class="bg-slate-200">
    <SiteWidth
      ><div class="py-12">
        <H2Text>What is the CSE Club?</H2Text>
        <p class="text-slate-700 pb-6">
          The Computer Science and Engineering Club aims to bridge the gap
          between all CSE students in order to enhance their undergraduate
          experience and provide a sense of belonging and community. The CSE
          Club promotes connections and socialization among hundreds of CSE
          students at CSUSB every year, as well as other students interested in
          the art of Computer Science and Engineering. Additionally, workshops,
          talks and other special events are held to encourage technical and
          academic interest, as well as to foster academic growth and
          development.
        </p>
        <H2Text>Our tutoring program</H2Text>
        <p class="text-slate-700 pb-6">
          We offer free in-person and remote tutoring for all current Computer
          Science and Engineering Students. All of our students are trained to
          help and many of them are Masters Students. This service has not been
          finalized and is planned to start in Spring 2023.
        </p>
        <H2Text>Events we offer</H2Text>
        <p class="text-slate-700 pb-6">
          We offer workshops, tours, and speakers from various studios all over
          the industry. Often we will have a meeting where a qualified member of
          the club will explain a Computer Science topic they greatly
          understand. We also plan to host Game Jams and Hackathons, as well as
          collaborative projects featuring the Cyber Security clubs and the VR
          Lab in the near future.
        </p>
        <H2Text>Our equipment</H2Text>
        <p class="text-slate-700 pb-6">
          In our research lab in JB 361 we have equipment for all factors of
          software of development and research. We offer 3D printers, 3D
          Scanners, High Computational Computers, CNC Machines, and many more.
          We have tools for game development such as Xbox developer kits and
          Valve Index Virtual Reality Headsets. The lab is open for any student
          to use.
        </p>

        <H2Text>How can I join?</H2Text>
        <p class="text-slate-700">
          As of right now the best way to join the club is through joining the
          Discord Guild and participating in the club activities, In the future
          we will have official sign up sheets available on the website.
        </p>
      </div>
    </SiteWidth>
  </div>
</Layout>
