---
import H1Text from "../components/H1Text.astro";
import H2Text from "../components/H2Text.astro";
import SiteWidth from "../components/SiteWidth.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <SiteWidth>
    <div class="my-12">
      <H1Text light>About us</H1Text>
    </div>
  </SiteWidth>

  <div class="bg-slate-200">
    <SiteWidth
      ><div class="py-12">
        <H2Text>What is the CSE Club?</H2Text>
        <p class="text-slate-700 pb-6">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic
          obcaecati esse architecto eum nemo error tenetur beatae fuga, harum
          omnis, modi pariatur nulla at in. Corrupti provident minima saepe
          recusandae?
        </p>
        <H2Text>Our tutoring program</H2Text>
        <p class="text-slate-700 pb-6">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic
          obcaecati esse architecto eum nemo error tenetur beatae fuga, harum
          omnis, modi pariatur nulla at in. Corrupti provident minima saepe
          recusandae?
        </p>
        <H2Text>Events we offer</H2Text>
        <p class="text-slate-700 pb-6">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic
          obcaecati esse architecto eum nemo error tenetur beatae fuga, harum
          omnis, modi pariatur nulla at in. Corrupti provident minima saepe
          recusandae?
        </p>
        <H2Text>Our equipment</H2Text>
        <p class="text-slate-700 pb-6">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic
          obcaecati esse architecto eum nemo error tenetur beatae fuga, harum
          omnis, modi pariatur nulla at in. Corrupti provident minima saepe
          recusandae?
        </p>

        <H2Text>How can I join?</H2Text>
        <p class="text-slate-700">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic
          obcaecati esse architecto eum nemo error tenetur beatae fuga, harum
          omnis, modi pariatur nulla at in. Corrupti provident minima saepe
          recusandae?
        </p>
      </div>
    </SiteWidth>
  </div>
</Layout>
