---
import Layout from "../layouts/Layout.astro";
import SiteWidth from "../components/SiteWidth.astro";
import GoogleCalendar from "../components/googleCalendar"
---

<Layout title="CSE - Events">
  <SiteWidth>
    <div class="pb-10">
      <GoogleCalendar client:load />
    </div>
  </SiteWidth>
</Layout>
