---
import AboutUs from "../components/AboutUs.astro";
import Hero from "../components/Hero.astro";
import MeetUs from "../components/MeetUs.astro";
import ReadyToJoin from "../components/ReadyToJoin.astro";
import WhatAreWeUpTo from "../components/WhatAreWeUpTo.astro";
import Layout from "../layouts/Layout.astro";

import SiteWidth from "../components/SiteWidth.astro";
---

<Layout title="CSE - CSUSB">
  <SiteWidth>
    <Hero />
  </SiteWidth>
  <div class="bg-stone-100">
    <SiteWidth>
      <AboutUs />
      <MeetUs />
    </SiteWidth>
  </div>
  <SiteWidth>
    <WhatAreWeUpTo />
  </SiteWidth>
  <div class="bg-stone-100">
    <SiteWidth>
      <ReadyToJoin />
    </SiteWidth>
  </div>
</Layout>
