---
import AboutUs from "../components/AboutUs.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import MeetUs from "../components/MeetUs.astro";
import ReadyToJoin from "../components/ReadyToJoin.astro";
import WhatAreWeUpTo from "../components/WhatAreWeUpTo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex justify-center">
    <div class="max-w-screen-xl w-full">
      <Header />
      <div class="mx-24">
        <Hero />
        <AboutUs />
        <MeetUs />
        <WhatAreWeUpTo />
        <ReadyToJoin />
      </div>
    </div>
  </div>
</Layout>
