---
interface Props {
  title: string;
  description: string;
  icon: any;
}

const { title, description, icon } = Astro.props;
const Icon = icon;
---

<div
  class="bg-zinc-800 rounded flex flex-col md:flex-row mb-6 py-8 md:py-5 px-4 xl:px-10"
>
  <div class="md:pr-6 mb-5 md:mb-0 mx-auto md:mx-0"><Icon /></div>
  <div class="">
    <div class="font-lato font-bold md:text-lg xl:text-xl text-stone-100 pb-3">
      {title}
    </div>
    <div
      class="text-zinc-300 md:text-sm xl:text-base font-montserrat font-light"
    >
      {description}
    </div>
  </div>
</div>
