---
import AboutUsGroup from "./AboutUsGroup.astro";
import blurb from "../content/index/blurb.json";
import H1Text from "./H1Text.astro";
---

<div class="flex flex-col md:flex-row py-20 w-auto">
  <div class="flex flex-col md:mr-12 xl:mr-16 mr-1 mb-14 md:mb-0 basis-1/2">
    <H1Text>
      See what puts <span class="text-coyote-blue">Yotes</span> light-years ahead.
    </H1Text>
    <div class="text-base xl:text-xl pb-8 text-zinc-600 font-montserrat">
      {blurb.seeWhatPutsYotesLightYearsAhead.blurb}
    </div>
    <div class="mx-auto md:mx-0">
      <a href="/about"
        ><button class="btn btn-primary">See more about us</button>
      </a>
    </div>
  </div>
  <AboutUsGroup />
</div>
