---
import AboutUsGroup from "./AboutUsGroup";
---

<div class="bg-stone-100">
  <div class="flex py-20">
    <div class="flex flex-col pr-16 mr-1 basis-5/12">
      <div class="text-4xl pb-6 text-slate-800 font-bold leading-tight">
        See what puts <span class="text-coyote-blue">Yotes</span> light-years ahead.
      </div>
      <div class="text-lg pb-8 text-zinc-600 font-montserrat font-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh
        sollicitudin tempor, pellentesque at elementum quis.
      </div>
      <div class="">
        <button class="btn bg-coyote-blue hover:bg-coyote-blue border-none"
          >See more about us</button
        >
      </div>
    </div>
    <AboutUsGroup />
  </div>
</div>
