---
import DiscordIcon from "./icons/DiscordIcon.astro";
---

<div
  class="bg-zinc-800 flex font-montserrat font-light text-stone-500 py-24 text-base"
>
  <div class="w-5/12 pr-28">
    <div class="mb-6">Logo</div>
    <div class="mb-10">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sollicitudin
      tempor, pellentesque at elementum quis.
    </div>
    <div class="">Copyright © 2022 Cal State San Bernardino</div>
  </div>
  <div class="basis-3/12">
    <div class="mb-10 text-stone-400">Quick links</div>
    <div class="flex flex-col gap-3">
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
    </div>
  </div>
  <div class="basis-3/12">
    <div class="mb-10 text-stone-400">Sister Clubs</div>
    <div class="flex flex-col gap-3">
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
      <div class="">Text</div>
    </div>
  </div>
  <div class="basis-3/12">
    <div class="mb-12 text-stone-400">Social Media</div>
    <div class="">
      <button class="btn bg-[#5865F2] hover:bg-[#5865F2] text-stone-50 gap-2">
        <DiscordIcon classes="h-6 w-6 fill-white" /> Join us on Discord
      </button>
      <div class=""></div>
    </div>
  </div>
</div>
