---
import { Image } from "@astrojs/image/components";
import logo from "../assets/logo.png";
import DiscordIcon from "./icons/DiscordIcon.astro";
import links from "../content/links/social.json";

import { Bars3Icon } from "@heroicons/react/24/solid/esm/index.js";
---

<header x-data="{ open: false }" class="bg-cse-navy my-7">
  <div class="flex px-3 xl:px-0">
    <div class="w-1/4 md:w-auto">
      <a href="/">
        <Image
          src={logo}
          height={100}
          alt="descriptive text"
          class={"m-auto"}
        />
      </a>
    </div>

    <div
      class="ml-auto flex gap-6 text-stone-50 items-center font-montserrat font-light text-sm"
    >
      <div class="hidden md:flex gap-6">
        <a href="/about/" class="hover:underline">About us</a>
        <a href="/announcements/" class="hover:underline">Announcements</a>
        <a href="/calendar/" class="hover:underline">Events</a>
        <a href="/contact/" class="hover:underline">Contact</a>
        <a href="/archive/" class="hover:underline">Archive</a>
      </div>

      <div x-on:click="open = !open" class="md:hidden">
        <Bars3Icon className="h-7 w-7 inline mr-2" />
      </div>
      <a href={links.discord}>
        <button class="btn btn-info gap-2">
          <DiscordIcon classes="h-6 w-6 fill-white" />
          <span class="hidden lg:inline">Join us on Discord</span>
        </button>
      </a>
    </div>
  </div>

  <div
    x-bind:class="{'flex': open, 'hidden': !open}"
    class="md:hidden flex-col gap-1 px-3 p-4 mb-4 bg-slate-800 text-stone-100"
  >
    <div class="">
      <a href="/about/"
        ><button class="btn btn-block btn-ghost">About</button>
      </a>
    </div>
    <div class="">
      <a href="/announcements/"
        ><button class="btn btn-block btn-ghost">Announcements</button>
      </a>
    </div>
    <div class="">
      <a href="/calendar/"
        ><button class="btn btn-block btn-ghost">Events</button>
      </a>
    </div>
    <div class="">
      <a href="/contact/"
        ><button class="btn btn-block btn-ghost">Contact</button>
      </a>
    </div>
    <div class="">
      <a href="/archive/"
        ><button class="btn btn-block btn-ghost">Archive</button>
      </a>
    </div>
  </div>
</header>
