---
import { Image } from "@astrojs/image/components";
import logo from "../assets/logo.png";
import DiscordIcon from "./icons/DiscordIcon.astro";
---

<header class="bg-cse-navy flex">
  <div class="">
    <Image src={logo} alt="descriptive text" />
  </div>

  <div
    class="ml-auto flex gap-6 text-stone-50 items-center font-montserrat font-light text-sm"
  >
    <a>About us</a>
    <a>Archive</a>
    <a>Events</a>
    <a>Contact</a>
    <a>Announcements</a>
    <button class="btn bg-[#5865F2] hover:bg-[#5865F2] text-stone-50 gap-2">
      <DiscordIcon classes="h-6 w-6 fill-white" /> Join us on Discord
    </button>
  </div>
</header>
