---
import { Image } from "@astrojs/image/components";
import hero from "../assets/hero.png";
---

<div class="bg-[#101329]">
  <div class="flex pb-16">
    <div class="flex flex-col justify-center">
      <div class="text-stone-50 text-4xl font-gillsans pb-6">On the <span class='text-[#005EB8]'>Coyote</span> edge of technology and engineering</div>
      <div class="text-stone-100 text-xl font-montserrat pb-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh
        sollicitudin tempor, pellentesque at elementum quis.
      </div>
      <div>
          <button class="btn btn-primary">Join now</button>

      </div>
    </div>
    <Image src={hero} alt="descriptive text" />
  </div>
</div>
