---
import { Image } from "@astrojs/image/components";
import H1Text from "./H1Text.astro";
import meetus from "../assets/meetus.jpg";
import blurb from "../content/index/blurb.json";
---

<div class="flex flex-col center text-center pt-8 pb-24">
  <div class="md:px-10 xl:px-16 mb-12">
    <H1Text>
      Meet the <span class="text-coyote-blue">Pack</span>
    </H1Text>
    <div class="text-base md:text-lg xl:text-xl text-zinc-600 font-montserrat">
      {blurb.meetThePack}
    </div>
  </div>
  <div class="m-auto">
    <Image
      class="rounded-md"
      src={meetus}
      width={892}
      alt="A photo of the staff of the club."
    />
  </div>
</div>
