---
import AboutUsGroup from "./AboutUsGroup";
import Feed from "./rss/Feed";
import { XMLParser, XMLBuilder, XMLValidator } from "fast-xml-parser";

const response = await fetch(
  "https://plankton-app-nanep.ondigitalocean.app/feed/"
);
const data = await response.text();
const jObj = new XMLParser().parse(data);
---

<div class="bg-cse-navy text-stone-50">
  <div class="flex py-20">
    <div class="flex flex-col pr-16 mr-1 basis-5/12">
      <div class="text-4xl pb-6 font-bold leading-tight">
        What are we up to this time?
      </div>
      <div class="text-lg pb-8 text-slate-300 font-montserrat font-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh
        sollicitudin tempor, pellentesque at elementum quis.
      </div>
      <div class="">
        <button class="btn bg-coyote-blue hover:bg-coyote-blue border-none mb-6"
          >See more about us</button
        >
        <button class="btn bg-coyote-blue hover:bg-coyote-blue border-none"
          >See more about us</button
        >
      </div>
    </div>
    <Feed items={jObj.rss.channel.item} />
  </div>
</div>
