---
export interface Props {
  title: string;
}

import "../styles/base.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/montserrat";
import "@fontsource/montserrat/300.css";

import "@fontsource/lato";
import "@fontsource/lato/700.css";
import "@fontsource/lato/900.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-cse-navy">
    <div class="max-w-screen-xl mx-auto">
      <Header />
    </div>
    <slot />
    <div class="bg-zinc-800">
      <div class="max-w-screen-xl mx-auto">
        <Footer />
      </div>
    </div>
  </body>
</html>
